<main class="main">
  <h1>Hello, {{ title }}</h1>
  <p>Congratulations! Your app is running. 🎉</p>

  <ol>
    <li>Boye - boyepanthera&#64;gmail.com</li>
    <li>Malik - ayomalik&#64;gmail.com</li>
    <li>Gilbert -gilbertumeh&#64;gmail.com</li>
    <li>Larry - larrykoya&#64;gmail.com</li>
  </ol>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
